@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cutive+Mono&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Cutive+Mono&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

.container-fluid {
  background-color: #e4d7d7;
}
.nombre {
  position: fixed;
  display: block;
  z-index: 10;
  top: 0%;
  text-align: center;
  background: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border-radius: 10px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

.contenido {
  text-align: center;
  margin-left: 0%;
}

.fila_2 {
  position: relative;
  margin-top: 80px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.cont_auto {
  margin: 20px;
  position: relative;
  height: 250px;
  width: 400px;
  font-family: "Courier Prime", monospace;
}
.datos_personales {
  position: inherit;
  margin-top: 100px;
  width: 400px;
}
.foto {
  margin-top: 10px;
  margin-left: 50px;
  /*box-shadow: 0px 0px 6px #796e6e;*/
  box-shadow: inset 0 3px 4px rgba(24, 23, 23, 0.3);
  border-radius: 50%;
  width: 280px;
  height: 225px;
  background: url("../MisImagenes/portada.png"); /*..=salgo de la carpeta css*/
  background-size: cover;
}
#miFoto {
  animation-name: animar;
  animation-duration: 2s;
}
@keyframes animar {
  0% {
    transform: scale(0.3);
    border: solid 3px tomato;
    border-radius: 0%;
  }
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}

.margen h3 {
  font-family: "Nunito", sans-serif;
  color: #ff0000;
  -webkit-text-stroke: 1px white;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000,
    0 0 20px #ff0000, 0 0 25px #ff0000;
  font-size: 35px;
}
.pie {
  flex-direction: row;
  font-size: 18px;
}
button {
  padding: 5px 7px;
  background-color: rgb(161, 201, 214);
  border-radius: 10px 10px;
  color: black;
  cursor: pointer;
  transition: background-color 0.5s ease;
}
button a {
  text-decoration: none;
  color: black;
  display: block;
  height: 100%;
  width: 100%;
}
button:hover {
  transition: 300ms;
  background-color: #39ff14;
  transform: scale(1.1);
}
button:hover a {
  color: yellow;
}
button:active {
  background-color: red;
  color: white;
  transform: scale(1);
}

.imgGit {
  width: 100px;
  height: 100px;
  border-color: black;
}
ul {
  list-style: none;
}
.pie h3 {
  text-align: center;
}
/*------------------------responsive*/
@media (max-width: 630px) {
  .container-fluid {
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 10px;
  }
  .margen {
    width: 200px;
  }
}
