.margen{
    width: 400px;
    height: max-content;
    border-color: black;
    background-color: gray;
    display: block;
    align-content: center;
    padding: 20px;
    font-family: "Cutive Mono", monospace;
    font-weight: bold;
    font-size: 20px; 
}
.contenido{
    width: 800px;
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    float: right;
    padding-left: 10px;
    font-family: "atma";
    font-size: 20px;   
}
.contenedor{
    display: flex;
    padding: 0px;
}
img{
    border-radius: 50px 5px;
    width: 380px;
    height: 300px;
}